{% extends "AppBundle:website:master.html.twig" %}

{% block content %}
    <h1 property="title">{{ content.title }}</h1>

    <div property="description">
        {{ content.description|raw }}
    </div>

    {% include "AppBundle:website:includes/blocks.html.twig" %}
{% endblock %}
